@use "../colors.scss" as *;

.contact-box {
  height: 420px;
}

.d-grid .btn-dark {
  border: 0;
}

.nav-pills .nav-link.active {
  background-color: $accent-color !important;
  color: #ffffff;
}

.nav-pills .nav-link {
  background-color: #eeeeee;
  color: $accent-color;
}

.nav-pills .nav-link:hover {
  color: $detail-color;
}

.noResize {
  resize: none;
  min-height: 11em !important;
}

.custom-tooltip {
  --bs-tooltip-bg: #2B112C !important;
  --bs-tooltip-color: white;
}

.custom-toast {
    background-color: rgba($accent-color, 0.9) !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
}