@use "../colors.scss" as *;

.contact-box {
  height: 420px;
}

.d-grid .btn-dark {
    border: 0;
}

.nav-pills .nav-link.active {
  background-color: $accent-color !important;
  color: #ffffff;
}

.nav-pills .nav-link {
  background-color: #eeeeee;
  color: $accent-color;
}

.nav-pills .nav-link:hover {
  color: $detail-color;
}

.noResize {
  resize: none;
  min-height: 11em !important;
}
