@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  :root {
    --color-accent: 43 17 44;
    --color-detail: 179 139 62;
    --color-muted: 200 193 200;
    --color-gray-1: 249 248 249;
    --color-gray-5: 139 140 140;
    --color-gray-6: 79 79 79;
    --color-gray-7: 45 47 48;
    --color-gray-8: 21 22 23;
    --color-text-gray: 54 57 64;
  }
}
